html {
  font-family: 'Overpass', sans-serif;
}

.icons {
  color: #fff;
}

h1,
h2,
p {
  color: #fff;
}

body {
  height: 100vh;
  background-color: #ff5e3a;
  background-image: linear-gradient(to bottom, rgba(255, 149, 0, 1), rgba(255, 94, 58, 1));
}

.btn-ghost {
  border-color: #fff;
  color: #fff;
}
