html {
  font-family: Overpass, sans-serif;
}

.icons {
  color: #fff;
}

h1,
h2,
p {
  color: #fff;
}

section {
  background-color: #ff9500;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.btn-ghost {
  border-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
}

.this {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 60em) {

  .this {
    border: none;
  }

  .test {
    border-right: 3px solid rgba(255, 255, 255, .5);
  }
}
